autopep8==1.6.0
eli5==0.13.0
ipython==8.4.0
imgaug==0.4.0
jupyterlab==3.4.2
matplotlib==3.5.2
numpy==1.22.4
pandas==1.4.2
scipy==1.8.1
scikit-learn==1.1.1
clickhouse-driver==0.2.3
# tensorflow==2.9.1
# tensorflow-addons==0.17.0
# tensorflow-datasets==4.6.0
# tensorflow-text==2.9.0